/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color:#000028;
  --main-font: "IBM Plex Mono";

  --text-color: #f1b2ce;
  --accent-color: #ff0070;

  --title-color: #ff0070;
  --title-bg-color: #ff0070;

  --subtitle-color: #000028;

  --heading-color: #db00ff;

  --navigation-color: #ff0070;

  --decorated-zone-color: #ff0070;

  --bold: 700;
  --regular: 400;
  --font-size: 18px;
}
