/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);

  --main-font: "IBM Plex Mono";

  --text-color: #f1b2ce;
  --accent-color: #ff0070;

  --title-color: #ff0070;
  --title-bg-color: #ff0070;

  --subtitle-color: #000028;

  --heading-color: #db00ff;

  --navigation-color: #ff0070;

  --decorated-zone-color: #ff0070;

  --bold: 700;
  --regular: 700;
  --font-size: 18px;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-image: url(../images/cover-image-light.png);
    --heading-color: #ffc2e6;
    --text-color: #353430;
    --title-color: #353430;
    --title-bg-color: #ff8dcb;
    --navigation-color: #353430;
    --accent-color: #ff8dcb;
    --decorated-zone-color: #353430;
  }

  .header__rec {
    display: none;
  }
}

